export EMBED_DIM=300
export VOCAB_SIZE=1000000
export LIMIT=32000000
export EPOCHS=1
export SKIPGRAM=1
export WINDOW_LEN=5
export MIN_COUNT=20
export LEARNING_RATE=0.1
export MIN_LEARNING_RATE=0.0001
export NUM_WORKERS=8
export NEGATIVE_SAMPLES=10
